@media (min-width: 768px) {
  .header {
    padding: 12px 40px;
  }
  .logo{
    font-size: 22px;
  }
  .search-input {
    width: 250px;
  }
 

  main {
    margin: auto 40px;
  }
 
  .weather-info {
    margin: 40px 0px;
  }
  .temper .temperature-celsius {
    font-size: 80px;
  }
  .location-info {
    margin: 40px 0;

    margin: 0 0 auto;
  }
  .location-heading-par {
    font-size: 22px;
    /* line-height: 0.5; */
  }
  .location-detail-par {
    font-size: 20px;
    font-weight: 600;
  }
  .weather-details-container{
   grid-template-columns: repeat(4, auto);
  }
  .weather-heading-par{
    font-size: 18px;
}
.weather-detail-par{
    font-size: 20px;
}
.error-message{
  font-size: 22px;
}
}

@media (min-width: 1024px) {
  .header {
    padding: 12px 100px;
  }
  .logo{
    font-size: 26px;
  }
  .search-input {
    width: 300px;
  }
  .current-weather-paragraph-container {
    align-items: flex-start;
    justify-content: flex-start;
    margin: 60px 100px 40px 0;
  }
  main {
    margin: auto 100px;
  }
  .container {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
  }
  .temperature-container {
    align-items: flex-start;
  }
  .temperature-celsius {
    font-size: 100px;
    
  }
 
  .location-heading-par {
    font-size: 28px;
    /* line-height: 0.3; */
  }
  .location-detail-par {
    font-size: 24px;
    font-weight: 600;
  }
  .weather-details-container{
column-gap: 50px;
row-gap: 30px;
}
.weather-heading-par{
    font-size: 20px;
}
.weather-detail-par{
    font-size: 22px;
}
.error-message{
  font-size: 26px;
}
}
